<%= form_for(@product) do |form_builder_object| %>

<div class="field">
<%= form_builder_object.label :name %><br />
<%= form_builder_object.text_field :name %>
</div>

<div class="field">
<%= form_builder_object.label :description %><br / >
<%= form_builder_object.text_field :description %>
</div>

<div class="field">
<%= form_builder_object.label :price_in_cents %><br />
<%= form_builder_object.text_field :price_in_cents %>
</div>

<div class="actions">
<%= form_builder_object.submit %>
</div>
<%end%>

