<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <%= link_to product.name, product %> | <%= format_price(product.formatted_price) %>
    </div>
    <div class="card-copy">
      <p><%= truncate(product.description, length: 50) %></p>
      <p><%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?'} %></p>
    </div>
  </div>
