<h1>Products <small><%= page_entries_info @products %></small></h1>

<hr/>
<%= link_to 'Welcome Page', root_path %> |
<%= link_to 'New Product', "/products/new" %> |
<%= link_to 'Log In/New Session', "/sessions/new" %> |
<%= link_to 'List of Users', users_path %>



<br />

<div id="products">
	<%= render @products %>
</div>

<br />

  <%= paginate @products %>

