<h1>Products <small><%= page_entries_info @products %></small></h1>
<%= form_tag products_path, method: :get, id: 'search_form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search'%>
<% end %>
<br />

<div id="products">
	<%= render @products %>
</div>

<br />

  <%= paginate @products %>

