<h1>Products#index</h1>
<%= link_to 'Welcome Page', root_path %> |
<%= link_to 'New Product', "/products/new" %> | 
<%= link_to 'Log In/New Session', "/sessions/new" %>
<p>Find me in app/views/products/index.html.erb</p>
<h3>Products</h3>
<% @products.each do |product| %>
	<p><%= link_to product.name, "/products/#{product.id}" %>:
	<%= product.formatted_price %></p>
<% end %>
